.bac1 {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1520px;
    opacity: 0.4;
    animation: bac1 6s ease-in-out 0ms alternate forwards;
}

@keyframes bac1 {
    to {
        opacity: 1;
    }
}

.sun {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 480px;
    opacity: 0.1;
    animation: sun 4s ease-in-out 0ms alternate forwards;
}

@keyframes sun {
    to {
        top: 30px;
        left: 540px;
        opacity: 1;
    }
}

.leaf {
    z-index: 1;
    position: absolute;
    top: -80px;
    right: -80px;
    animation: leaf 6s ease-in-out 0ms alternate forwards;
}

@keyframes leaf {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(10deg);
        top: -60px;
        right: -30px;
    }
    50% {
        transform: rotateZ(15deg);
        top: -40px;
    }
    75% {
        transform: rotateZ(10deg);
        top: -20px;
        right: -30px;
    }
    100% {
        transform: rotateZ(15deg);
        top: -20px;
        right: -30px;
    }
}

.boat {
    z-index: 3;
    position: absolute;
    top: 480px;
    right: 450px;
    animation: boat 6s ease-out 0ms forwards;
}

@keyframes boat {
    to {
        top: 450px;
        right: 500px;
    }
}

.moutian {
    z-index: 2;
    position: absolute;
    width: 816px;
    top: 150px;
    left: 0px;
    opacity: 0.5;
    animation: bac1 5s ease-in-out 0ms alternate forwards;
}

@keyframes bac1 {
    to {
        opacity: 1;
    }
}

.audio1 {
    width: 200px;
}

.white {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1520px;
    opacity: 0;
    animation: white 1500ms ease-in-out 5000ms alternate forwards;
}

@keyframes white {
    to {
        z-index: 5;
        opacity: 1;
    }
}